<ion-header  translucent>
 
  <ion-toolbar color="primary" >
    <ion-title class="ion-align-items-center">
      مذاق الملكة
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">


  <div id="container">

    

  <ion-list>
    <ion-list-header><h2>قائمة المنتجات</h2></ion-list-header>
    <ion-item *ngFor="let article of Articles" (click)="showDetails(article)" >
      <ion-thumbnail slot="start">
        <img src="{{article.pictures[0]}}">
      </ion-thumbnail>
      <ion-label>
        <h2><b>{{article.title}}</b></h2>
        <p>{{article.description}}</p>
        <p>{{ article.price}}/كلغ / دت </p>
        <p>
          <span *ngIf="article.averageStar >=1">       <ion-icon class="iconYellow"   name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >=2">       <ion-icon class="iconYellow"  name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >=3">       <ion-icon  class="iconYellow" name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >=4">       <ion-icon class="iconYellow"  name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >=5">       <ion-icon  class="iconYellow" name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >=6">       <ion-icon  class="iconYellow" name="star"></ion-icon>
        </span>
      </p>
    
 
      
      </ion-label>
    </ion-item>
</ion-list>







    



</div>
 
</ion-content>

<ion-footer class="ion-align-items-center">
 <p><ion-button >&nbsp;<h5>اضف صورة لحلوياتك المفضلة</h5>&nbsp;&nbsp;<ion-icon name="camera"></ion-icon></ion-button></p>
  
</ion-footer>